@let c = cocktail();
<div>
  <img class="mb-20" [src]="c.imageUrl" alt="Mojito" />
</div>
<h3 class="mb-20">{{ c.name }}</h3>
<p class="mb-20">{{ c.description }}</p>
<ul class="mb-20">
  @for (ingredient of c.ingredients; track $index) {
    <li class="my-2">{{ ingredient }}</li>
  }
</ul>
<div class="flex">
  <button class="btn btn-primary">Ajouter au panier</button>
  <span class="flex-auto"></span>
  @if(isLiked()) {
    <button class="btn btn-primary" (click)="unlikecocktail.emit(c._id)">Unlike</button>
  }@else {
    <button class="btn btn-outline-primary" (click)="likecocktail.emit(c._id)">Like</button>
  }
  
</div>
